* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #548687;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 50px;
  text-decoration: underline;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: white;
  cursor: pointer;
}
.reset {
  padding: 1.3rem;
  border-radius: 15px;
  font-size: 1.25rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

#win{
  margin-top:50px;
  font-size: 40px;
  font-weight: 800;
  color: rgb(36, 5, 148);
  text-align: center;

}
.hide{
  display: none;
}